@font-face {
  font-family: "iconfont"; /* Project id 3772802 */
  src: url('iconfont.woff2?t=1669561669428') format('woff2'),
       url('iconfont.woff?t=1669561669428') format('woff'),
       url('iconfont.ttf?t=1669561669428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-zuixinwenzhang_huaban:before {
  content: "\e615";
}

.icon-gonggaoxiaolaba:before {
  content: "\e6db";
}

.icon-huore:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e614";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-mima:before {
  content: "\e610";
}

.icon-xiabian:before {
  content: "\e616";
}

.icon-geren:before {
  content: "\e61e";
}

